<title>Home | CannabisSTORE</title>

{% extends 'base/base.html' %}
{% load static %}
{% block content %}
	<h1>Bienvenidos a todos!!</h1>
	<p>Bienvenidos a la nueva pagina web de CannabisSTORE. En esta página encontraran la información de nuestros productos. Tambien la web, ofrece un sistema de usuarios de forma que cada visita es personal.
		Somos la primer tienda de Cannabis en Uruguay en llegar a la web. Todos nuestros productos al alcance de tu mano. 
		No dudes en consultarnos ante cualquier duda!
	 </p>
	 <p>
	 	<img height="289" width="400" src="{% static 'img/cannabistienda.jpg' %}">
	 </p>
	 	<img height="289" width="400" src="{% static 'img/productoscannabis.jpeg' %}">
{% endblock %}