<title>Nosotros | CannabisSTORE</title>

{% extends 'base/base.html' %}
{% load static %}
{% block content %}
	<h1>Un poco sobre nosotros!!</h1>
	<p> Instalados en el corazón de la Ciudad de Montevideo, Uruguay. Somos la primer tienda de productos derivados del Cannabis. Nuestro proyecto arranco como búsqueda al consumo excesivo de Marihuana en nuestro país. Nuestra filosía consta de usar el mismo producto "en otro contexto". 

		Abrimos nuestra primer tienda en 2017 y desde ahí hemos crecido. Son montones los clientes que cada día quedan satisfechos y agradecidos con nuestros productos. 

		El objetivo de esta web es llegar a más clientes en todo el país. Y que nadie quede sin probar nuestros productos. 

		Tenemos una amplia variedad, desde aceites hasta los nuevos parches. 

		No dudes en consultarnos.
	 </p>
	 <p>
	 	Estamos ubicados por la Avenida 18 de Julio y Yi. <p>
	 	<img height="289" width="400" src="{% static 'img/centromvd.jpg' %}">
	 	</p>
	 </p>
	 	
{% endblock %}