<title>Plantas masticables de Cannabis | CannabisSTORE</title>
{% extends 'base/base.html' %}
{% load static %}



{% block header %}
<h1>Las plantas que ofrecemos en CannabisSTORE!</h1>
{% endblock %}
{% block content %}
	{% for a in plantas %}
	<p>
		<h3>{{a.nombre}}</h3>
		<p><i>Breve reseña:{{a.resena}}</i></p>
		<p><i>Modo de uso:{{a.mdu}}</i></p>
		<p><i>Precio: {{a.Precio}}</i></p>
		<p><i>Efectos secundarios:{{a.ES}}</i></p>
		<p><i>Importa:{{a.Importador}}</i></p>
		<img height="289" width="400" src="{% static 'img/cannabishoja.jpg' %}">
	</p>
	{% endfor %}

{% endblock %}
